[user]
	email = aswinganesh666@gmail.com
	name = agzuniverse
[alias]
	s = status
	c = checkout
	cm = commit -m
	pom = push origin master
	fu = fetch upstream master
	fo = fetch origin master
	r = rebase
	b = branch
	cane = commit --amend --no-edit
	rum = rebase upstream/master
	rom = rebase origin/master
	prum = pull --rebase upstream master
	prom = pull --rebase origin master
